* {
    box-sizing: border-box
  }
    
  h1,h2,h3,h4 {
    text-align: center;
    padding: 1.5rem 2.5rem;
    background-image: linear-gradient(120deg, #fbc2eb 0%, #a6c1ee 100%);
    margin: 0 0 2rem 0;
    font-size: 1.5rem;
    color: white;
  }
  .navbar
  {
    display: flex;
    padding: 20px;
  }
  img {
    display: block;
    margin: 1rem auto;
    max-width: 100%;
  }
  .header-row{
    margin-top: 20px;
    padding: 10px;
    display:inline-block;
  }
  p {
    padding: 0 2.5rem 2.5rem;
    margin: 0;
  }
  
  .container {
    padding: 0px;
    display: flex;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .col-40
  {
    float: left;
    width: 45%;
    margin-top:6px;
    margin-bottom: 6px;
  }
  .col-20
  {
    margin-left: 5px;
    margin-right: 5px;
    float: left;
    width: 20%;
    margin-top:6px;
    margin-bottom: 6px;
  }
  .select{
    margin-top:6px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .col-10
  {
    right: 0px !important;
    margin-left: 5px;
    margin-right: 5px;
    float: left;
    width: 10%;
    margin-top:6px;
    margin-bottom: 6px;
  }
  .search{
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  .type{
    right:0px;
  }
    .mid{
      padding: 20px;
    }
    .intro
    {
      background: -webkit-linear-gradient(#ff99ff, #333);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      position: absolute;
      right: 200px;
      width: flex;
      padding: 10px;
    }
    @media all and (max-width:30em){
  
    display:block;
    margin:0.4em auto;
   }   

  @media screen and (min-width: 600px) {
    .card {
      flex: 1 1 calc(50% - 2rem);
    }
  }
  
  @media screen and (min-width: 900px) {
    .card {
      flex: 1 1 calc(33% - 2rem);
    }
  }

  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #fdd;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 50px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 50px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }

    @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }